{% extends 'layout.html' %}

    <!-- Header -->
{% block content %}
    <header>
        <div class="container" id="maincontent" tabindex="-1">
        <div>
            <h3>
                Services to validate Data Input
            </h3>
            <br/>
        </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-3">
                    <form action="/validate/upload/">
                        <button type="submit" class="btn btn-primary">Verify a Document</button>
                    </form>
                </div>
                <div class="col-md-3">
                    <form action="/validate/bank_details">
                        <button type="submit" class="btn btn-primary">Get Branch Details</button>
                    </form>
                </div>
            </div>
        </div>
    </header>

    
{% endblock%}